html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

.logo {
  max-width: 120px;
  min-width: 120px;
}

.bannerimg {
object-fit: cover;
width: 100%;
opacity: 0.5;
max-height: 300px;
}

.top-images {
  display: grid;
  background-color: rgba(37, 106, 180, 1);
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "text img"
    "text img2"
    "text img3"
    "text img4"
    ;
  }

  .img {
    grid-area: img;
    grid-gap: 1rem;
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    padding: 1rem;
  }
  .img2 {
    grid-area: img2;
    grid-gap: 1rem;
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    padding: 1rem;
  }

  .img3 {
    grid-area: img3;
    grid-gap: 1rem;
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    padding: 1rem;
  }

  .img4 {
    grid-area: img4;
    grid-gap: 1rem;
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    padding: 1rem;
  }

  .imgpg2 {
    grid-area: img;
    grid-gap: 1rem;
    width: 200px;
    height: 275px;
    object-fit: cover;
    object-position: center;
    padding: 1rem;
  }

  .img2pg2 {
    grid-area: img3;
    grid-gap: 1rem;
    width: 200px;
    height: 275px;
    object-fit: cover;
    object-position: center;
    padding: 1rem;
  }

.text {
  grid-area: text;
  margin: 1rem;
  max-width: 190px;
  grid-gap: 1rem;
}

.btm-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "img5 img6"
    "img5 img7"
    ;
}

.img5 {
  grid-area: img5;
  grid-gap: 1rem;
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  padding: 1rem;
}
.img6 {
  grid-area: img6;
  grid-gap: 1rem;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  padding: 1rem;
}

.img7 {
  grid-area: img7;
  grid-gap: 1rem;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  padding: 1rem;
}

.text2 {
  margin: 1rem;
  max-width: 100%;
}


.footer {
  background-color: #2B7B70;
  height: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
}

main {
  padding-top: 40px;
}

img {
  width: 100%;

}

.title {
  color: #000000;
  font-size: 75px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 25%;
  z-index: 9;
}

body {
	margin: 0;
	background: #ffff;
	font-weight: 400;
}

.content {
  background-color: #ffff;
  display: grid;
  place-items: center;
}

header {
  background-color: #2B7B70;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: #2B7B70;
  width: 100%;
  overflow: hidden;
  height: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
/*   transition: opacity 150ms ease-in-out; */
  transition: opacity 250ms ease-in-out 250ms;
}

nav a:hover {
  color: #ccc;
}

/* ~ looks for any preceeding sibling. */
.nav-toggle:checked ~ nav {
  transform: scale(1,1);
  height: auto;
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
}





@media screen and (min-width: 48em) {
  .nav-toggle-label {
    display: none;
  }

.top-images {
grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "text img img3"
    "text img2 img4"
    ;
}

.img {
  width: 250px;
  height: 250px;
}

.img2 {
  width: 250px;
  height: 250px;
}

.img3 {
  width: 250px;
  height: 250px;
}

.img4 {
  width: 250px;
  height: 250px;
}

.btm-images {
  grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "img5 img6 img7"
      ;
}

.img6 {
  width: 300px;
  height: 300px;
}

.img7 {
  width: 300px;
  height: 300px;
}

.imgpg2 {
  width: 250px;
  height: 500px;
}

.img2pg2 {
  width: 250px;
  height: 500px;
}

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 3 / 3;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 7em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    height: 5px;
    background: white;
    position: absolute;
    top: 1.5rem;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }
}
