html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

.logo {
  max-width: 120px;
}

.bannerimg {
object-fit: cover;
width: 100%;
max-height: 300px;
}

.top-images {
  display: grid;
  background-color: lightblue;
  background-opacity: 50%;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "img1"
    "img2"
    "img3"
    "img4"
    ;
    gap: 1rem;
  }

  .img1 {
    grid-area: img1;
  }

  .img2 {
    grid-area: img2;
  }

  .img3 {
    grid-area: img3;
  }

  .img4 {
    grid-area: img4;
}

main {
  padding-top: 40px;
}

img {
  width: 100%;

}

.title {
  color: #ffff;
  margin: 0 auto;
  position: absolute;
  top: 25%;
  z-index: 9;
}

body {
	margin: 0;
	background: #ffff;
	font-weight: 400;
}

.content {
  background-color: #ffff;
  display: grid;
  place-items: center;
}

header {
  background-color: #2B7B70;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: #2B7B70;
  width: 100%;
  overflow: hidden;
  height: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
/*   transition: opacity 150ms ease-in-out; */
  transition: opacity 250ms ease-in-out 250ms;
}

nav a:hover {
  color: #ccc;
}

/* ~ looks for any preceeding sibling. */
.nav-toggle:checked ~ nav {
  transform: scale(1,1);
  height: auto;
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
}





@media screen and (min-width: 48em) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 7em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    height: 5px;
    background: white;
    position: absolute;
    top: 1.5rem;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }
}
